#root {
    margin-top: 50px;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header {
    opacity: .8;
    position: fixed;
    top: 0;
    width: 100%;
    background: #770000;
    color: white;
    font-family: helvetica neue;
    z-index: 1;
    text-align: center;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.header-link {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    opacity: .8;
    width: 100%;
    font-family: helvetica neue;
    z-index: 1;
    text-align: center;
    padding: 10px;
    background: #111;
    color: white;
    font-size: 12px;
    line-height: 20px;
}